<!doctype html>
<html ng-app="cqk">
<head>
<meta charset="utf-8">
<title>重庆磁器口古镇</title>
<meta name="aplus-terminal" content="1"> 
<meta name="apple-mobile-web-app-capable" content="yes"> 
<!-- 这meta的作用就是删除默认的苹果工具栏和菜单栏。content有两个值”yes”和”no” -->
<meta name="apple-touch-fullscreen" content="no"> 
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
<meta name="format-detection" content="telephone=no"> 
<!-- 清除微信缓存 -->


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width , initial-scale=1.0 , maximum-scale=1.0 , user-scalabel=no">

<script src="js/rem.js"></script> 
<script type="text/javascript">
    setCookie('sourcePage',window.location.href,1);
</script>
<script src="js/weixin.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/angular.js"></script> 
<link href="css/index.css" rel="stylesheet" />	
<script type="text/javascript">
if(getCookie('userId')!=''){
    var Uid=parseInt(getCookie('userId'));
}else{
    var Uid=getCookie('userId');
}
if(Uid!='' && getCookie('isLogin')==0){
    window.location.href='reg.html';
}


</script>
<script type="text/javascript">
    var app=angular.module('cqk',[]);
    app.controller('shopList',function($scope,$http){
        $scope.dropListBsys=false;
        $scope.dropListBsys2=false;


        $scope.shopStreet={"全部":"","黄桷坪一巷":"1","磁正街":"2","聚森茂街":"3","磁横街":"4","磁南街":"5"};
        $scope.initStreet="全部";
        $scope.initStreetId="";

        //$scope.shopArr={"全部":"","特产":"1","餐饮":"2","茶饮":"3","土特产":"4","食品":"5","饮品":"6","小食品":"7","工艺品":"8","鞋服":"9","字画":"10","文博场馆":"11","服饰":"12","小吃":"13","伞／杯":"14","宗教":"15","箱包":"16","住宿":"17","副食":"18","其他":"19","饰品":"20","娱乐":"21"};


        $scope.shopArr={"全部":"","餐饮":"2","茶饮":"3","土特产":"4","小食品":"7","工艺品":"8","鞋服":"9","字画":"10","文博场馆":"11","宗教":"15","住宿":"17","副食":"18","其他":"19","娱乐":"21"};

        $scope.initShop="全部";
        $scope.initShopId="";
        $scope.downList=function(){
           $scope.dropListBsys=!$scope.dropListBsys;
           $scope.dropListBsys2=false;
        }
        $scope.downList2=function(){
           $scope.dropListBsys2=!$scope.dropListBsys2;
           $scope.dropListBsys=false;
        }
        $scope.getHtml2=function(street,initStreetId){
            $scope.initStreet=street;
            $scope.initStreetId=initStreetId;
        }
        $scope.getHtml=function(shop,initShopId){
            $scope.initShop=shop;
            $scope.initShopId=initShopId;
        }

        var transform = function(data){
            return $.param(data);
        }


        $scope.format='';
        $scope.street='';
        $scope.nowPage='1';
        $scope.pageSize='20';
        $scope.shopListArr=[];
        $scope.initloadingHtml="加载更多";

        $scope.$watch('shopListArr',function(re,old){
            if(re.length!=old.length){
                $scope.loadingTag=true;
            }
        },true);

        

        $scope.isShow=false;
       // $scope.formatMore='';
       // $scope.streetMore='';
        $scope.search=function(initStreetId,initShopId){
            $scope.shopListArr=[];
            $scope.nowPage='1';
            getBusinessList(initShopId,initStreetId,$scope.nowPage,$scope.pageSize);
        };

        $scope.showMore=function(initStreetId,initShopId){
            $scope.dropListBsys2=false;
            $scope.dropListBsys=false;
            $scope.loadingTag?$scope.initloadingHtml="加载更多":$scope.initloadingHtml="拼命加载中...";
            $scope.nowPage++;
            getBusinessList(initShopId,initStreetId,$scope.nowPage,$scope.pageSize);
        }
        getBusinessList($scope.format,$scope.street,$scope.nowPage,$scope.pageSize);
        function getBusinessList(format,street,nowPage,pageSize){
            $http.post('http://app.uiho.com/pxb_ciqikou/InfoServlet',{
                "data":'{"action":"getBusinessList","params":{"format":"'+format+'","queryParam":{"ascOrDesc":"desc","nowPage":'+nowPage+',"orderParam":"","pageSize":'+pageSize+'},"street":"'+street+'"},"source":"web","target":"business"}'
            },{
                headers: {'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'},
                transformRequest: transform
            }).success(function(res){
                console.log(res)
                if( res.responseCode==1){
                    res.object.forEach(function(str){
                       $scope.shopListArr.push(str);
                    });
                    $scope.initloadingHtml="加载更多";
                }else if(res.responseCode==0){
                    $scope.initloadingHtml="";
                }
                if($scope.shopListArr.length==0){ 
                    $scope.isShow=true;
                }else{
                    $scope.isShow=false;
                };
            }).error(function(){
                alert('失败;');
            });
        };

    });
</script>
</head>
<body  ng-controller="shopList">

<div class="category-wrap clearfix">
    <div class="cate-list fl" ng-click="downList()">
        <span initStreetId="{{initStreetId}}">{{initStreet}}</span>
        <em></em>
        <div class="cate-drop" ng-show="dropListBsys">
            <a href="javascript:;" ng-click="getHtml2(value,key);" ng-repeat="(value, key) in shopStreet">{{value}}</a>
        </div>
    </div>
    <div class="cate-list fl" ng-click="downList2()">
        <span initShopId="{{initShopId}}">{{initShop}}</span>
        <em></em>
        <div class="cate-drop" ng-show="dropListBsys2">
            <a href="javascript:;" ng-click="getHtml(value,key);" ng-repeat="(value, key) in shopArr">{{value}}</a>
        </div>
    </div>
    <div class="search fr"><a href="javascript:;" ng-click="search(initStreetId,initShopId);">搜索</a></div>
</div>

<div class="transitag"></div>
<section class="category-list">
    <ul class="category-list-ul" >
        <div style="text-align: center; line-height: 0.5rem;" ng-show="isShow">暂无数据</div>
        <li ng-repeat="info in shopListArr"><a href="business.html?businessId={{info.businessId}}&list=1">{{info.businessName}}</a></li>
        <li><a href="javascript:;" ng-click="showMore(initStreetId,initShopId);" style="border: 0.01rem solid #86CDED; margin-bottom: 0.06rem;">{{initloadingHtml}}</a></li> 
    </ul>
</section>

<script type="text/javascript">

    // var format='',pageSize=20,nowPage=1,orderParam='',street='';
    // getShopList(format,street,orderParam,pageSize,nowPage)

    // $('#SelectQueryBtn').on('click',function(){
    //     //alert(nowPage)
    //     format=$('#format').val();
    //     street=$('#street').val();
    //     //选择查询
    //     getShopList(format,street,orderParam,pageSize,nowPage)
    // });

    // function getShopList(format,street,orderParam,pageSize,nowPage){
    //     var datas='data={"action":"getBusinessList","params":{"format":"'+format+'","queryParam":{"ascOrDesc":"desc","nowPage":'+nowPage+',"orderParam":"'+orderParam+'","pageSize":'+pageSize+'},"street":"'+street+'"},"source":"web","target":"business"}';
    //     $.ajax({
    //         url:'http://app.uiho.com/pxb_ciqikou/InfoServlet',
    //         type:"POST",
    //         data:datas,
    //         beforeSend :function(){
    //             $('.category-list-ul').html('<tr><td colspan="16" align="center">加载中，请稍后...</td></tr>');
    //         },
    //         success:function(str){
    //             var oData=eval('('+str+')');
    //             console.log(oData)
    //             if(oData.responseCode==1){
    //                 var sHtml='';
    //                 for(var i=0; i<oData.object.length; i++){
    //                     var streetName='';
    //                     sHtml+='<li><a href="shopEdit.html?id='+oData.object[i].businessId+'" >'+oData.object[i].businessName+'</a></li>';
    //                 }

    //                 $('.category-list-ul').html(sHtml);
                   
    //             }else{
                    
    //                 $('.category-list-ul').html('<tr><td colspan="16" align="center">'+oData.responseMsg+'</td></tr>');
    //             }
    //             //console.log(oData)
    //         }
    //     });
    // }
</script>
</body>
</html>
<!-- 列表进入 ：返回,继续点赞 ， 不再点赞，关闭        直接进入:确认  -->